# System
**/.DS_Store
**/Thumbs.db

# Python
venv/
.venv/
env/
.env/
__pycache__
.ipynb_checkpoints
pip-selfcheck.json
*.egg-info/
site/

# Project
/output/*
/cache/*
!/output/.gitkeep
*.json
!/scripts/default.config.json
*.html
*.wav
*.zip
*.log
*.ipynb
*.so
*.png
!/docs/img/*.png
