# System
**/.DS_Store
**/Thumbs.db

# Python
venv/
.venv/
env/
.env/
__pycache__
.ipynb_checkpoints
pip-selfcheck.json

# Project
/output/*
!/output/.gitkeep
*.html
*.wav
*.zip
*.log
*.ipynb
*.so
*.json
*.png
