site_name: TAAT

theme:
  name: "material"

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            show_symbol_type_heading: true
            show_symbol_type_toc: true

nav:
  - index.md
  - overview.md
  - user-guide.md
  - tutorials.md
  - reference.md
